<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="description" content="BookWaterTanker">
    <meta name="keywords" content="Book, Water tanker, WaterTanker, Hyderabad, Call Tanker, Call Water Tanker, Summer Water Tanker,Book Water Tanker, Book Water Tanker Around me,phone number, hyderabad, madhapur, gachibowli, kondapur">
    <meta name="author" content="Book Water Tanker in Hyderabad">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artha Data Solutions</title>


    <link th:href="@{/css/bootstrap.css}"  rel="stylesheet" >
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
    <link th:href="@{/css/custom.css}"  rel="stylesheet" >
    <link th:href="@{/css/custom.min.css}"  rel="stylesheet" >

    <script src="js/google-analytics.js.download"></script>
</head>

<body>



    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="http://localhost:8080/employees/list" class="navbar-brand">Artha Data Solutions</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
            </div>

        </div>
    </div>



    <div class="container">

        <div class="page-header" id="banner">
            <h3>Employee Portal</h3>
            <p class="lead">Below is form to update employee information.</p>
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your current information</span>
                        <span class="badge badge-secondary badge-pill">3</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Full name</h6>
                                <small class="text-muted">Vivek Vardhan Varanasi</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Phone Number</h6>
                                <small class="text-muted">900 000 1234</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Current Address</h6>
                                <small class="text-muted">9375 E Shea Blvd, Scottsdale, AZ</small>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Request my PII</h6>
                                <a href="http://localhost:8080/employees/pii"><span class="blue">Click Here</span></a>
                            </div>
                        </li>
                    </ul>


                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Update information</h4>
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid last name is required
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">DOB</label>
                                <input type="text" class="form-control" id="dob" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Date of Birth ( yyyy-MM-dd) format
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">SSN</label>
                                <input type="text" class="form-control" id="SSN" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Provide your social security number [ XXX-XX-XXXX format]
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Primary Phone</label>
                                <input type="text" class="form-control" id="pPhone" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Phone format [ (XXX) XXX-XXXX ] [ (area code) number ]
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Secondary Phone</label>
                                <input type="text" class="form-control" id="sPhone" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Phone format [ (XXX) XXX-XXXX ] [ (area code) number ]
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                            <div class="invalid-feedback">
                                Please enter your primary address
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">State</label>
                                <input type="text" class="form-control" id="State" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid state to be entered
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Zip</label>
                                <input type="text" class="form-control" id="Zip Code" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid Zip code to be entered
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <hr class="mb-4">

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="save-info">
                                <label class="custom-control-label" for="save-info">I Agree that all my information mentioned above is valid.</label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <ul class="list-unstyled">
                <li><a href="https://www.facebook.com/BookWaterTanker">Facebook</a></li>
                <li><a href="https://twitter.com/bookwatertanker">Twitter</a></li>
                <li><a href="http://www.bookwatertanker.com/">Email us on : solutions@thinkartha.com</a></li>
            </ul>
            <p>
                A Product from Artha Solutions. Contact us at dip@amurta.com
            </p>
            <p>
                Also available on <a href="https://play.google.com/store/apps/details?id=com.vivek.bookwatertanker">Android Playstore</a>.
            </p>
            <p>Copy rights @DIP Amurtha </p>
        </div>
    </footer>
</body>

</html>
