<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="description" content="BookWaterTanker">
    <meta name="keywords" content="Book, Water tanker, WaterTanker, Hyderabad, Call Tanker, Call Water Tanker, Summer Water Tanker,Book Water Tanker, Book Water Tanker Around me,phone number, hyderabad, madhapur, gachibowli, kondapur">
    <meta name="author" content="Book Water Tanker in Hyderabad">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artha Data Solutions</title>


    <link th:href="@{/css/bootstrap.css}"  rel="stylesheet" >
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
    <link th:href="@{/css/custom.css}"  rel="stylesheet" >
    <link th:href="@{/css/custom.min.css}"  rel="stylesheet" >

    <script src="js/google-analytics.js.download"></script>
</head>

<body>



<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="http://localhost:8080/employees/list" class="navbar-brand">Artha Data Solutions</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">

            </ul>

        </div>
    </div>
</div>



<div class="container">

    <div class="page-header" id="banner">
        <h3>Employee Portal</h3>
        <p class="lead">Below is form to get PII information.</p>
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your current information</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Full name</h6>
                            <small class="text-muted">Vivek Vardhan Varanasi</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Phone Number</h6>
                            <small class="text-muted">900 000 1234</small>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Current Address</h6>
                            <small class="text-muted">9375 E Shea Blvd, Scottsdale, AZ</small>
                        </div>
                    </li>
                </ul>


            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Request Form</h4>
                <form class="needs-validation" novalidate>


                    <div class="row">

                        <hr class="mb-4">


                            <div class="form-group">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="option1" name="option1" class="custom-control-input" value="1">
                                    <label class="custom-control-label" for="option1">Provide me report on personal information collected for my name. </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="option2" name="option2" class="custom-control-input" value="2" >
                                    <label class="custom-control-label" for="option2">Don't sell all my personal information / Opt-out </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="option3" name="option3" class="custom-control-input" value="3">
                                    <label class="custom-control-label" for="option3">Delete my personal information.</label>
                                </div>
                            </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info">
                            <label class="custom-control-label" for="save-info">I Agree for the above option that I choose.</label>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<footer class="footer mt-auto py-3">
    <div class="container">
        <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/BookWaterTanker">Facebook</a></li>
            <li><a href="https://twitter.com/bookwatertanker">Twitter</a></li>
            <li><a href="http://www.bookwatertanker.com/">Email us on : solutions@thinkartha.com</a></li>
        </ul>
        <p>
            A Product from Artha Solutions. Contact us at dip@amurta.com
        </p>
        <p>
            Also available on <a href="https://play.google.com/store/apps/details?id=com.vivek.bookwatertanker">Android Playstore</a>.
        </p>
        <p>Copy rights @DIP Amurtha </p>
    </div>
</footer>
</body>

</html>
